%sheet-header {
    .title-bar {
        background-color: $base-color;
        text-align: center;
        padding: 2px;
    }
    .menu-bar {
        min-height: 20px;
    }
    .tools-bar {
        min-height: 60px;
    }
    .formula-bar {
        background-color: $base-color;
        min-height: 20px;
    }
}
