#sheet-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 100vh;
    header.sheet-header {
        flex-shrink: 0;
    }
    section.page-content {
        flex-grow: 1;
    }
    footer.sheet-footer {
        flex-shrink: 0;
        background-color: green;
    }
}
