%rulers {
    .ruler-cell {
        color: $ruler-font-color;
        padding: 2px;
        font-size: 12px;
        line-height: 100%;
        text-align: center;
        background-color: $base-color;
        border-top-width: 0;
        border-left-width: 0; //(must set on [via] browser)
        position: relative; //container of resizer
        &:hover {
            background-color: $ruler-border-hover-color;
        }
        @include vertical-align();
    }
    .ruler-cell-selected {
        color: $ruler-selected-color;
        background-color: $ruler-selected-bg-color;
        font-weight: 700;
    }
    .horizontal-ruler {
        flex-shrink: 0;
        display: flex;
        height: 20px;
        .ruler-corner {
            flex-shrink: 0;
            position: relative;
            z-index: 2;
            background: $base-color;
            height: 20px;
            min-width: 32px;
            border-bottom: 1px solid;
            border-right: 1px solid;
            border-image: linear-gradient(145deg, $base-color 50%, $ruler-border-color) 5;
            .tri-corner {
                position: absolute;
                right: 0px;
                bottom: 0px;
                margin: 1px;
                border-bottom: 14px solid $ruler-corner-tri-color;
                border-left: 14px solid transparent;
                cursor: pointer;
                &:hover {
                    border-bottom: 14px solid $ruler-border-color;
                }
            }
        }
        .ruler-cells {
            // left: -70px; //horizontal ruler scoll
            flex-shrink: 0;
            position: relative;
            display: flex;
            &:after {
                //selected rulers
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 72px;
                height: 2px;
                z-index: 0;
                background-color: $ruler-selected-color;
            }
            .ruler-cell {
                width: 72px;
                height: 20px;
                border-right: 1px solid;
                border-bottom: 1px solid;
                border-image: linear-gradient(180deg, $base-color 10%, $ruler-border-color) 5;
                &:after {
                    //horizontal resizer
                    content: "";
                    position: absolute;
                    width: 9px;
                    height: 100%;
                    right: -5px;
                    top: 0;
                    z-index: 1;
                    cursor: col-resize;
                    // background-color: rgba(255, 0, 0, 0.267);
                }
            }
        }
    }
    .vertical-ruler {
        // top: -20px;//vertical ruler scoll
        flex-shrink: 0;
        width: 32px;
        position: relative;
        .ruler-cells {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            &:after {
                //selected rulers
                content: "";
                position: absolute;
                right: 0;
                top: 0px;
                width: 2px;
                height: 36px;
                z-index: 0;
                background-color: $ruler-selected-color;
            }
            .ruler-cell {
                width: 32px;
                height: 18px;
                border-right: 1px solid;
                border-bottom: 1px solid;
                border-image: linear-gradient(90deg, $base-color 10%, $ruler-border-color) 5;
                &:after {
                    //vertical resize
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    width: 100%;
                    height: 8px;
                    z-index: 1;
                    cursor: row-resize;
                    // background-color: rgba(255, 0, 0, 0.267);
                }
            }
        }
    }
}
