%table-grid {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    .table-cell {
        position: absolute;
        width: 72px;
        height: 18px;
        background-color: $table-grid-cell-bg-color;
        border-right: 1px solid $table-grid-cell-border-color;
        border-bottom: 1px solid $table-grid-cell-border-color;
        cursor: cell;
    }
}
