@import "rulers";
@import "table_grid";
%workspace {
    display: flex;
    background-color: rgb(255, 147, 147);
    .page-container {
        background-color: rgba(255, 174, 0, 0.521);
        flex-grow: 1;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        @extend %rulers;
        .table-content {
            flex-grow: 1;
            display: flex;
            flex-wrap: nowrap;
            background-color: rgba(255, 0, 0, 0.445);
            .table-grid {
                flex-grow: 0;
                width: 120px;
                overflow: scroll;
                @extend %table-grid;
                background-color: rgb(167, 163, 124);
            }
        }
    }
}
