@import "rulers";
@import "table_grid";
%workspace {
    overflow: scroll;
    height: 1px;
    .page-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        @extend %rulers;
        .table-content {
            flex-grow: 1;
            display: flex;
            flex-wrap: nowrap;
            .table-grid {
                @extend %table-grid;
            }
        }
    }
}
