* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Microsoft YaHei", Helvetica, cursive, "Source Han Sans SC", Arial, sans-serif;
    font-size: 100%;
}

#sheet-container{
    background-color: rgb(221, 134, 134);
    width: 100px;
    height: 100px;
}
