$base-color:#e6e6e6;
$ruler-border-color:#999;
$ruler-border-hover-color:#9fd5b7;
$ruler-corner-tri-color:#B4B4B4;
$ruler-font-color:#5e5e5e;
$ruler-selected-color:#217346;
$ruler-selected-bg-color:#d4d4d4;
