$base-color : #E6E6E6;
$ruler-border-color : #999;
$ruler-border-hover-color : #9FD5B7;
$ruler-corner-tri-color : #B4B4B4;
$ruler-font-color : #5E5E5E;
$ruler-selected-color : #217346;
$ruler-selected-bg-color : #D4D4D4;
$table-grid-cell-bg-color : #FFF;
$table-grid-cell-border-color : #D4D4D4;
